#home {
    height: calc(100%-81px);
    background-repeat: no-repeat;
    background-image: url(images/316546300_547692113846445_7299710494491288098_n.png);

}

#right6 {
    background-image: url(images/page6firxt.png);
    background-repeat: no-repeat;
}

#right7 {
    background-image: url(images/page7\ background.png);
    background-repeat: no-repeat;
}